.servicesSection {
    height: 1456px;
    left: 0;
    position: relative;
    top: 0;
    width: 1512px;
  }
  
  .sectionTitles {
    font-family: "Poppins", Helvetica;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 5%;
  }
  
  .sectionBody {
    /* border: 1px black solid; */
  }
  
  .servicesItem {
    width: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .serviceRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
  }
  
  .servicesImgContainer {
    background: linear-gradient(180deg, #67C957 0%, #67C957 100%);
    border-radius: 63.5px;
    box-shadow: inset 0px 20px 30px #00000040, 0px 20px 30px #00000040;
    height: 127px;
    top: 0;
    width: 127px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .servicesText {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    margin-top: 20px;
  }
  